---
import type { ImageSource } from "@utils/types";

const { src, alt } = Astro.props;

interface Props {
  src: ImageSource;
  alt: string;
}
---

<div class="shrink-0">
  <img
    class="size-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
    src={typeof src === 'string' ? src : src.src}
    alt={alt}
    loading="lazy"
  />
</div>
